<h1>Registro de Usuario</h1>
<%- include('partials/mensajes'); %>
    <form action="/users/registro" method="POST">
        <div>
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" placeholder="Ingresa Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Ingresa contraseña" value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div>
            <label for="password2">Confirma Contraseña</label>
            <input type="password" name="password2" placeholder="Confirma Contraseña" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
    </form>
    <p>¿Tienes cuenta? <a href="/users/login">Ingresar</a></p>